<p>
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <button
      routerLink="/"
      mat-mini-fab
      aria-label="Example icon button with a home icon"
    >
      <mat-icon>home</mat-icon>
    </button>

    <!-- <div class="spacer"></div> -->
    <button mat-button [matMenuTriggerFor]="afterMenu">
      <a mat-button routerLink="planning">Planning</a>
    </button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
      <button mat-menu-item routerLink="planning/coil-dashboard">
        Coil-dashboard
      </button>
      <button mat-menu-item routerLink="planning/ag-grid">Ag-grid</button>
      <button mat-menu-item [matMenuTriggerFor]="dummymenu">Menu-list</button>
    </mat-menu>

    <mat-menu #dummymenu="matMenu">
      <button mat-menu-item>Link1</button>
      <button mat-menu-item [matMenuTriggerFor]="link2">Link2</button>
    </mat-menu>
    <mat-menu #link2="matMenu">
      <button mat-menu-item>Sub-Link-1</button>
      <button mat-menu-item>Sub-Link-2</button>
    </mat-menu>

    <!-- <a mat-button routerLink="planning">Planning</a> -->
    <a mat-button>Production</a>
    <a mat-button>Reports</a>
    <a mat-button>User Management</a>
    <!-- <a mat-raised-button color="accent">Login</a> -->
    <div class="spacer"></div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>User</span>
      </button>
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</p>
