// SCSS code
$color_1: black;
$color_2: whitesmoke;
$color_3: rgba(0, 128, 0, 0.581);
$color_4: rgba(211, 211, 211, 0.521);
$background-color_1: rgb(52, 52, 195);
$background-color_2: rgb(243, 194, 34);

.box {
	padding: 14px;
	border: 1px solid;
	background: rgba(211, 211, 211, 0.521);
	margin-left: 30px;
	margin-right: 30px;
	color: $color_1;
	border-radius: 17px;
	width: 130px;
	text-align: center;
}
.box.active {
	background: rgba(0, 128, 0, 0.581);
	color: $color_2;
	font-size: 18px;
}
.arrow.active {
	color: $color_3;
}
.arrow {
	color: $color_4;
}
.icon {
	font-size: 55px;
}
table {
	border: 1px solid black;
}
th {
	border: 1px solid black;
}
td {
	border: 1px solid black;
	width: 130px;
}
.dropDown {
	width: 500px;
}
.margin_top {
	margin-top: 180px;
}
.bg-secondary {
	color: $color_2;
}
.resetBtn {
	display: inline-block;
	margin-left: 50%;
	margin-bottom: 30px;
}
button {
	background-color: $background-color_1;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 16px;
	color: $color_2;
	border-radius: 18px;
	&:hover {
		background-color: $background-color_2;
		font-weight: 700;
	}
}



















// CSS code
/* .box {
  padding: 14px;
  border: 1px solid;
  background:  rgba(211, 211, 211, 0.521);
 margin-left: 30px;
 margin-right: 30px; 
  color: black;
  border-radius: 17px;
  width: 130px;
  text-align: center;
}

.box.active {
  background:rgba(0, 128, 0, 0.581) ;
  color: whitesmoke;
  font-size: 18px;
}

.arrow.active {
  color: rgba(0, 128, 0, 0.581);
}

.arrow {
  color: rgba(211, 211, 211, 0.521);
}

.icon {
  font-size: 55px;
}

table, 
 th,
td {
  border: 1px solid black;
}

td {
  width: 130px;
}

.dropDown {
  width: 500px;
}
.margin_top {
  margin-top: 180px;
}

.bg-secondary{
  color:whitesmoke;
}

.resetBtn{
  display: inline-block;
  margin-left: 50%;
  margin-bottom: 30px;
}
button{
  background-color: rgb(52, 52, 195);
  padding-top: 7px;
  padding-bottom:7px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  color: whitesmoke;
  border-radius: 18px;
}

button:hover{
  background-color: rgb(243, 194, 34);
  font-weight:700;
} */
