<div class="MainDiv">
<div class="container-fluid ">
  <div class="container m-5">
    <div class="d-flex mb-2">
      <table>
        <tbody>
          <tr>
            <td>
              <div class="box" [ngClass]="{ active: trackingStatus >= 1 }">
                S_GSLBW
              </div>
            </td>
            <td>
              <div
                class="arrow d-flex align-items-center justify-content-center mx-2"
                [ngClass]="{ active: trackingStatus >= 1 }" >
                <i class="fa-solid fa-arrow-right icon"></i>
              </div>
            </td>
            <td>
              <div class="box" [ngClass]="{ active: trackingStatus >= 2 }">
                S_NSLBW
              </div>
            </td>
            <td>
              <div
                class="arrow d-flex align-items-center justify-content-center mx-2"
                [ngClass]="{ active: trackingStatus >= 2 }">
                <i class="fa-solid fa-arrow-right icon"></i>
              </div>
            </td>
            <td>
              <div class="box" [ngClass]="{ active: trackingStatus >= 3 }">
                S_HRCW
              </div>
            </td>
            <td>
              <div
                class="arrow d-flex align-items-center justify-content-center mx-2"
                [ngClass]="{ active: trackingStatus >= 3 }">
                <i class="fa-solid fa-arrow-right icon"></i>
              </div>
            </td>
            <td>
              <div class="box" [ngClass]="{ active: trackingStatus >= 4 }">
                S_HRPOCW
              </div>
            </td>
            <td>
              <div
                class="arrow d-flex align-items-center justify-content-center mx-2"
                [ngClass]="{ active: trackingStatus >= 4 }">
                <i class="fa-solid fa-arrow-right icon"></i>
              </div>
            </td>
            <td>
              <div class="box" [ngClass]="{ active: trackingStatus >= 5 }">
                S_HRPO
              </div>
            </td>
            <td class="dropDown">
              <div
                class="d-flex justify-content-center align-items-center m-2 mx-4"
              >
                <div
                  class="card p-3 bg-secondary d-flex justify-content-center align-items-center text-center"
                >
                  <h6>Select the option</h6>
                  <select
                    class="form-select form-select-sm bg-secondary w-75"
                    aria-label=".form-select-sm example"
                    [(ngModel)]="trackingStatus"
                  >
                    <option value="0">Select</option>
                    <option value="1">S_GSLBW</option>
                    <option value="2">S_NSLBW</option>
                    <option value="3">S_HRCW</option>
                    <option value="4">S_HRPOCW</option>
                    <option value="5">S_HRPO</option>
                  </select>
                </div>
              </div>
            </td>
          </tr>


          <!-- <tr>
          <td>
            <div class="box" [ngClass]="{ active: trackingStatus1 >= 1 }">
              S_GSLBW
            </div>
          </td>
          <td>
            <div class="arrow d-flex align-items-center justify-content-center mx-2">
              <i class="fa-solid fa-arrow-right icon"></i>
            </div>
          </td>
          <td>
            <div class="box" [ngClass]="{ active: trackingStatus1 >= 2 }">
              S_NSLBW
            </div>
          </td>
          <td>
            <div class="arrow d-flex align-items-center justify-content-center mx-2">
              <i class="fa-solid fa-arrow-right icon"></i>
            </div>
          </td>
          <td>
            <div class="box" [ngClass]="{ active: trackingStatus1 >= 3 }">
              S_HRCW
            </div>
          </td>
          <td>
            <div class="arrow d-flex align-items-center justify-content-center mx-2">
              <i class="fa-solid fa-arrow-right icon"></i>
            </div>
          </td>
          <td>
            <div class="box" [ngClass]="{ active: trackingStatus1 >= 4 }">
              S_HRPOCW
            </div>
          </td>
          <td>
            <div class="arrow d-flex align-items-center justify-content-center mx-2">
              <i class="fa-solid fa-arrow-right icon"></i>
            </div>
          </td>
          <td>
            <div class="box" [ngClass]="{ active: trackingStatus1 >= 5 }">
              S_HRPO
            </div>
          </td>
          <td class="dropDown">
              <div class="d-flex justify-content-center align-items-center m-2 mx-4 ">
                <div
                  class="card p-3 bg-secondary d-flex justify-content-center align-items-center text-center "
                >
                  <h6>Select the option</h6>
                  <select
                    class="form-select form-select-sm bg-secondary w-75"
                    aria-label=".form-select-sm example"
                    [(ngModel)]="trackingStatus1"
                  >
                    <option value="0">Select</option>
                    <option value="1">S_GSLBW</option>
                    <option value="2">S_NSLBW</option>
                    <option value="3">S_HRCW</option>
                    <option value="4">S_HRPOCW</option>
                    <option value="5">S_HRPO</option>
                  </select>
                </div>
              </div>
          </td>
        </tr> -->
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="resetBtn">
  <button type="reset" (click)="reset()">Reset</button>
</div>

</div>