<div class="container-fluid">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="offset-sm-6 col-sm-6 mb-3 pb-3">
          <div class="form-group">
            <input type="text" [(ngModel)]="values.input" class="form-control" style="max-width: 250px"
              placeholder="Placeholder" (change)="updateValue()">
          </div>
        </div>
        <div class="col-sm-6">
          <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-primary" id="dropdown" ngbDropdownToggle>
              <span *ngIf="!values.dropdown || values.dropdown.length === 0">DropDown</span>
              <span *ngIf="values.dropdown && values.dropdown.length !== 0">{{values.dropdown}}</span>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown">
              <button ngbDropdownItem *ngFor="let sortOrder of dropDownList"
                (click)="ChangeSortOrder(sortOrder)">{{sortOrder}}</button>
            </div>
          </div>
          <br>
          <br>
          <h4>CheckBox</h4>
          <span *ngFor="let item of values.list; let l = last">
            <label [for]="item.id + item.title" style="cursor: pointer;">
              <input type="checkbox" [(ngModel)]="item.checked" (change)="updateValue()" [id]="item.id + item.title">
              {{item.title}}
            </label> <span *ngIf="!l"> | </span>
          </span>
          <br>
          <br>
          <h4>Radio Button</h4>
          <div class="form-group">
            <div *ngFor="let option of radioList">
              <label [for]="option.answerOptionId + option.answerText" style="cursor: pointer;">
                <input type="radio" name="question" [value]="option.answerOptionId"
                  [id]="option.answerOptionId+ option.answerText" (change)="handleChange(option)">
                {{option.answerText}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
