<div class="wrapper">
  <app-header></app-header>
  <section>
    <!-- <app-left-side-bar></app-left-side-bar> -->
    <article>
      <router-outlet></router-outlet>
    </article>
  </section>

  <app-footer></app-footer>
</div>
