<div class="container">
  <!-- <div class="part-1">
    <button
      class="btn toggle-btn"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasScrolling"
      aria-controls="offcanvasScrolling"
    >
      <i class="bi bi-border-width"></i>
    </button>
  </div> -->
  <!-- <div
    class="offcanvas offcanvas-start"
    data-bs-scroll="true"
    data-bs-backdrop="false"
    tabindex="-1"
    id="offcanvasScrolling"
    aria-labelledby="offcanvasScrollingLabel"
  >
    <div class="offcanvas-header side-menu-header">
      <h5
        class="offcanvas-title text-primary text-center"
        id="offcanvasScrollingLabel"
      >
        SIDEMENU
      </h5>
      <button
        type="button"
        class="btn-close text-reset"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <ul class="side-meu">
        <li class="nav-item side-meu-li">
          <a class="nav-link active" aria-current="page" href="#">HOME</a>
        </li>
        <li class="nav-item side-meu-li">
          <a class="nav-link active" aria-current="page" href="#">ABOUT</a>
        </li>
        <li class="nav-item side-meu-li">
          <a class="nav-link active" aria-current="page" href="#">CONTACT</a>
        </li>
      </ul>
    </div>
  </div> -->
  <div class="part-2">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1" class="custom-tabs">
        <a ngbNavLink>TAB1</a>
        <ng-template ngbNavContent>
          <div
            style="background-color: white; padding: 20px; border-radius: 5px"
          >
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th scope="col">tabs</th>
                  <th scope="col">tabs</th>
                  <th scope="col">tabs</th>
                  <th scope="col">tabs</th>
                  <th scope="col">tabs</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row"><a href="#" (click)="openTab(1)">one</a></td>
                  <td><a href="#" (click)="openTab(2)">two</a></td>
                  <td><a href="#" (click)="openTab(3)">three</a></td>
                  <td><a href="#" (click)="openTab(4)">four</a></td>
                  <td><a href="#" (click)="openTab(5)">five</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2" class="custom-tabs">
        <a ngbNavLink>TAB2</a>
        <ng-template ngbNavContent>
          <my-app-controls
            [values]="tabValues.tab2"
            [dropDownList]="dropDownList"
            [radioList]="radioList"
            (inpValue)="inputValues($event, 2)"
          ></my-app-controls>
        </ng-template>
      </li>
      <li [ngbNavItem]="3" class="custom-tabs">
        <a ngbNavLink>TAB3</a>
        <ng-template ngbNavContent>
          <div
            style="background-color: white; padding: 20px; border-radius: 5px"
          >
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th scope="col">tabs</th>
                  <th scope="col">tabs</th>
                  <th scope="col">tabs</th>
                  <th scope="col">tabs</th>
                  <th scope="col">tabs</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row"><a href="#" (click)="openTab(1)">one</a></td>
                  <td><a href="#" (click)="openTab(2)">two</a></td>
                  <td><a href="#" (click)="openTab(3)">three</a></td>
                  <td><a href="#" (click)="openTab(4)">four</a></td>
                  <td><a href="#" (click)="openTab(5)">five</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </li>

      <li [ngbNavItem]="4" class="custom-tabs">
        <a ngbNavLink>TAB4</a>
        <ng-template ngbNavContent>
          <my-app-controls
            [values]="tabValues.tab4"
            [dropDownList]="dropDownList"
            [radioList]="radioList"
            (inpValue)="inputValues($event, 4)"
          ></my-app-controls>
        </ng-template>
      </li>
      <li [ngbNavItem]="5" class="custom-tabs">
        <a ngbNavLink>TAB5</a>
        <ng-template ngbNavContent>
          <div
            style="background-color: white; padding: 20px; border-radius: 5px"
          >
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th scope="col">tabs</th>
                  <th scope="col">tabs</th>
                  <th scope="col">tabs</th>
                  <th scope="col">tabs</th>
                  <th scope="col">tabs</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row"><a href="#" (click)="openTab(1)">one</a></td>
                  <td><a href="#" (click)="openTab(2)">two</a></td>
                  <td><a href="#" (click)="openTab(3)">three</a></td>
                  <td><a href="#" (click)="openTab(4)">four</a></td>
                  <td><a href="#" (click)="openTab(5)">five</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>

    <br />
    <div class="text-end">
      <button type="button" class="btn btn-primary" (click)="onSubmit()">
        Submit
      </button>
    </div>

    <ng-template #popUp let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Demo Popup</h4>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="modal.dismiss()"
        ></button>
      </div>
      <div class="modal-body">
        <ul>
          <li *ngFor="let tabNum of [1, 2, 3, 4, 5]">
            <h6>
              <b>Tab {{ tabNum }}</b>
            </h6>
            <p>
              Input -
              <b>{{
                tabValues["tab" + tabNum]["input"]
                  ? tabValues["tab" + tabNum]["input"]
                  : "No Value"
              }}</b>
            </p>
            <p>
              DropDown -
              <b>{{
                tabValues["tab" + tabNum]["dropdown"]
                  ? tabValues["tab" + tabNum]["dropdown"]
                  : "No Value"
              }}</b>
            </p>

            <p *ngIf="tabNum === 2 && tabValues['tab' + tabNum]['list']">
              DropDown - <b>{{ tab2result | json }}</b>
            </p>
            <p *ngIf="tabNum === 4 && tabValues['tab' + tabNum]['list']">
              DropDown - <b>{{ tab4result | json }}</b>
            </p>

            <p>
              Radio -
              <b>{{
                tabValues["tab" + tabNum]["radioOption"]
                  ? tabValues["tab" + tabNum]["radioOption"]["answerText"]
                  : "No Value"
              }}</b>
            </p>
            <hr />
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-dark"
          (click)="modal.close()"
        >
          Ok
        </button>
      </div>
    </ng-template>
  </div>
</div>
