.container {
  display: flex;
  gap: 5rem; 
}
.offcanvas-start {
  width: 250px;
}
.toggle-btn {
  position: relative;
  left: -66px;
  font-size: 30px;
  color: #1058d9;
  padding-left: 8px;
}
.custom-tabs {
  width: 10rem;
}
.text-reset {
  position: absolute;
  top: 24px;
  right: 12px;
}
.offcanvas-body {
  padding-left: 0;
}
.side-menu-header {
  align-items: center;
  justify-content: center;
}
.side-meu {
  list-style: none;
  padding: 0;
}
.side-meu-li {
  text-align: center;
}
.side-meu-li a {
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
  /* display: block; */
  transition: 0.3s;
  color: rgb(154, 102, 24);
}
.side-meu-li a:hover {
  color: #108c3d;
}
